# Code of Conduct

This project adopts the [Contributor Covenant](https://www.contributor-covenant.org/),
version 2.1.

We pledge to make participation a harassment-free experience for everyone.
Examples of unacceptable behavior and enforcement details are described in the
full Covenant text linked above.

## Reporting

Report unacceptable behavior to **{{ author_email }}**. All complaints will be
reviewed and investigated promptly and fairly.
